.page {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
  padding: var(--page-padding);
  background-color: var(--background-color);
  background-attachment: fixed;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  z-index: 1;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--corners-color);
  border-block-start: 1px solid var(--corners-color);
  inset-inline-end: var(--page-padding);
  inset-block-start: var(--page-padding);
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--corners-color);
  border-block-end: 1px solid var(--corners-color);
  inset-inline-start: var(--page-padding);
  inset-block-end: var(--page-padding);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  min-height: 668px;
  position: relative;
  margin: calc(var(--page-padding) * -1);
  padding: var(--page-padding);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__rec {
  position: absolute;
  inset-inline-end: calc(var(--page-padding) + 10px);
  inset-block-start: var(--page-padding);
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--decor-element-color);
  font-weight: 400;
  text-transform: uppercase;
  visibility: var(--rec-decor-visibility);
  z-index: 10;
}

.header__rec::after {
  content: '';
  display: inline-block;
  inline-size: 9px;
  block-size: 10px;
  background-color: var(--decor-element-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--decor-element-color);
}

.header__theme-menu {
  position: absolute;
  inset-inline-end: var(--page-padding);
  inset-block-start: var(--page-padding);
  z-index: 10;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-button {
  padding: 0 13px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: var(--button-color);
  text-transform: lowercase;
  background: transparent;
  border: 1px solid transparent;
  transition: border-color 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border-color: var(--button-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: var(--button-color);
}

.header__theme-menu-button_active {
  border-color: var(--button-color);
  pointer-events: none;
}

.header__title {
  font-weight: 700;
  font-size: var(--header-title-mobile);
  line-height: 0.825;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--title-shadow);
  margin-inline-start: calc(var(--page-padding) * -1);
  grid-row: 2;
  align-self: center;
}

.header__description {
  justify-self: end;
  align-self: center;
  max-inline-size: 364px;
  grid-row: 3;
  width: 100%;
}

.title-decor {
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  color: var(--background-color);
  background-color: var(--accent-color);
}

.header__description .title-decor {
  white-space: normal;
  word-break: normal;
  hyphens: manual;
  display: block;
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
  margin-block: 40px;
}

.section {
  display: grid;
  gap: 20px;
}

.section__title {
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  color: var(--section-title-color);
}

.card-list {
  display: grid;
  gap: var(--card-gap);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  inline-size: 100%;
  max-inline-size: 100%;
}

.card__title {
  font-weight: 700;
}

.card__title_normal {
  font-weight: 400;
}

.card__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  margin: 0;
  padding: 0;
  inline-size: 100%;
  max-inline-size: 100%;
  word-wrap: break-word;
}

.card__text a {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--link-shadow);
  transition: all 0.3s ease;
}

.card__text a:hover {
  border-block-end: 1px solid currentColor;
}

.card__text a:focus {
  outline: none;
}

.card__text a:focus-visible {
  outline: 1px solid var(--link-focus-outline);
}

.gallery {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: var(--gallery-gap);
  block-size: 100%;
  max-block-size: 100%;
  overflow: hidden;
}

.gallery__title {
  width: 100%;
  grid-row: 1;
}

.gallery__list {
  display: grid;
  gap: var(--gallery-gap);
  grid-row: 2;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.gallery__item {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 0;
  overflow: hidden;
}

.gallery__item img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: grid;
  place-items: center;
  block-size: calc(100vh - var(--page-padding) * 2);
  min-block-size: calc(668px - var(--page-padding) * 2);
  margin-block-start: auto;
  margin: calc(var(--page-padding) * -1);
  padding: var(--page-padding);
  background-color: var(--background-color);
}

.footer__title {
  font-weight: 700;
  font-size: var(--header-title-mobile);
  line-height: 0.825;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--title-shadow);
}

.theme-light .title-decor,
:root.theme-light .title-decor {
  color: #353430;
}

@media (prefers-color-scheme: light) {
  .title-decor {
    color: #353430;
  }
}

@media (width < 768px) {
  :root {
    --page-padding: 10px;
    --section-gap: 50px;
    --gallery-gap: 10px;
  }

  .header__theme-menu {
    inset-block-start: 11%;
  }

  .header__title {
    margin-inline-start: 0;
    width: 100%;
    justify-self: center;
  }

  .header__description {
    justify-self: center;
    max-inline-size: 355px;
  }

  .main {
    margin-top: 50px;
  }

  .footer {
    min-block-size: 668px;
    margin-top: 0;
  }
}

@media (width >= 768px) and (width < 1024px) {
  :root {
    --page-padding: 20px;
    --section-gap: 80px;
    --gallery-gap: 20px;
  }

  .header {
    min-block-size: 1024px;
  }

  .header__theme-menu {
    inset-block-start: 19%;
  }

  .header__title {
    font-size: var(--header-title-desktop);
    margin-inline-start: calc(var(--page-padding) * -1);
  }

  .header__description {
    max-inline-size: 364px;
  }

  .main {
    margin-block: 80px;
  }

  .section {
    grid-template-columns: 1fr 2fr;
  }

  .section-reasons {
    display: block;
  }

  .section-reasons .section__title {
    max-inline-size: 236px;
    margin-block-end: 20px;
  }

  .section-reasons .card-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--card-gap);
  }

  .section-concentration {
    grid-template-columns: 1fr 2fr;
  }

  .section-concentration .card-list {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--card-gap);
  }

  .gallery__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.6fr 0.7fr 1fr;
    gap: var(--gallery-gap);
    height: 100%;
    max-height: 100%;
  }

  .gallery__item:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .gallery__item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .gallery__item:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .gallery__item:last-child {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
  
  .gallery {
    block-size: 823px;
  }

  .footer {
    min-block-size: 1024px;
  }

  .footer__title {
    font-size: var(--header-title-desktop);
  }
}

@media (width >= 1024px) {
  :root {
    --page-padding: 20px;
    --section-gap: 80px;
    --gallery-gap: 20px;
  }

  .header {
    min-block-size: 768px;
  }

  .header__theme-menu {
    inset-inline-end: 50%;
    transform: translateX(50%);
    inset-block-start: var(--page-padding);
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    font-size: var(--header-title-desktop);
  }

  .header__description {
    max-inline-size: 491px;
  }

  .main {
    margin: 80px 0;
  }

  .section {
    grid-template-columns: repeat(3, 1fr);
  }

  .section__title {
    grid-column: span 1;
    max-inline-size: 315px;
  }

  .card-list {
    grid-column: span 2;
  }

  .section-concentration {
    grid-template-columns: 1fr 2fr;
    gap: 10px;
  }
  
  .section-concentration .card-list {
    grid-column: 2;
    grid-template-columns: 1fr;
  }

  .section-reasons {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .section-reasons .card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--card-gap);
    width: 100%;
  }

  .gallery {
    block-size: 1091px;
  }
  
  .gallery__list {
    grid-template-rows: 0.6fr 0.7fr 1fr;
  }
  
  .gallery__item:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .gallery__item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .gallery__item:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .gallery__item:last-child {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    min-block-size: 768px;
  }

  .footer__title {
    font-size: var(--header-title-desktop);
  }
}

@media (width >= 768px) {
  .footer {
    margin: calc(var(--page-padding) * -1);
    padding: var(--page-padding);
  }
}