:root {
  --accent-color: #ff0070;
  --accent-color-with-opacity: #ff007066;
  --title-color: #db00ff;
  --title-shadow: #ff0070;
  --section-title-color: #ff0070;
  --text-color: #f1b2ce;
  --decor-element-color: #ff0070;
  --background-color: #000028;
  --background-image: url('../images/cover-image-dark.png');
  --rec-decor-visibility: visible;
  --corners-color: #ff0070;
  --button-color: #ff0070;
  --button-hover-color: #ff007066;
  --link-shadow: #ff0070;
  --link-focus-outline: #f1b2ce;
  --main-font: 'IBM Plex Mono', monospace;
  --main-font-size: 18px;
  --main-line-height: 23.4px;
  --page-padding: 10px;
  --section-gap: 80px;
  --card-gap: 20px;
  --gallery-gap: 10px;
  --header-title-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --header-title-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}